.color-yellow {
  background-color: yellow;
}

.color-orange {
  background-color: orange;
}

.color-red {
  background-color: red;
}

.bold {
	font-weight: bold;
}

.titreArray {
	font-weight: bold;
	font-family: "Arial", "Lucida Grande";
}
