<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Rapport de sécurité ZAP</title>

<!-- Bootstrap Core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="dist/css/sb-admin-2.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<img src="res/zap.png" width="50" height="50"> <a
					class="navbar-brand" href="index.html">OWASP ZAP Report </a>
			</div>
		</nav>

		<!-- Page Content -->

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div ng-app="app">
						<h1 class="page-header">Rapport ZAP</h1>
						<div ng-controller="ReportCtrl">
							<div class="container col-lg-12 col-md-12">
								<div class="col-lg-3 col-md-3" style="padding-top: 12%">

									<table class="table table-striped" border="1">
										<thead>
											<tr>
												<th>Criticité des failles</th>
												<th>Nombre de failles</th>
												<th>Présence en pourcentage</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="danger bold">High :{{values[2]}}</td>
												<td>{{nbHigh}}</td>
												<td>{{high}}%</td>
											</tr>
											<tr>
												<td class="warning bold">Med : {{values[1]}}</td>
												<td>{{nbMed}}</td>
												<td>{{med}}%</td>
											</tr>
											<tr>
												<td class="info bold">Low : {{values[0]}}</td>
												<td>{{nbLow}}</td>
												<td border="4">{{low}}%</td>
											</tr>


										</tbody>
									</table>

								</div>
								<div class="col-lg-9 col-md-9">
									<nvd3 options="options" data="data"></nvd3>
								</div>

							</div>

							<div
								class="container col-lg-12 col-md-12 col-lg-offset-0 page-header">
								<table class="table table-striped" border="1">
									<thead>
										<tr>
											<th class="sorting-desc">

												<center>URL touchée(s)</center>
											</th>
											<th class="sorting-desc">
												<center>Type de la faille</center>
											</th>
										</tr>
									</thead>
									</tbody>
									{{contentArray}}
									<tr ng-repeat='site in content'>
										<td>

											<div class="bold">
												<a href="{{site._name}}">{{site._name}}</a>
											</div>
										</td>
										<td><span ng-repeat='alertitem in site.alerts.alertitem'>

												<div class="form-actions">
													<div ng-if="alertitem.riskcode ==='1'">
														<button type="button" class="btn btn-info"
															ng-click="isCollapsed = !isCollapsed">{{alertitem.name}}
														</button>
														<div uib-collapse="isCollapsed" horizontal>
															<div class="well well-lg">
																<uib-tabset active="active"> <uib-tab
																	index="0" heading="Description"> <br>
																<p ng-bind-html="SkipValidation(alertitem.desc)"></p>
																</uib-tab> <uib-tab index="1" heading="Solution"> <br>

																<p ng-bind-html="SkipValidation(alertitem.solution)"></p>
																</uib-tab> <uib-tab index="2" heading="Infos"> <br>
																<span><u>Nombres d'occurrences de la faille:</u></span>
																<span ng-bind-html="SkipValidation(alertitem.count)">
																</span> <br>
																<br>
																<u>Lien utile:</u> <br>
																</p>
																<a src="SkipValidation(alertitem.reference)"
																	ng-bind-html="SkipValidation(alertitem.reference)"></a>
																<p>
																	<u>cwe ID:</u> <br>
																</p>
																<p ng-bind-html="SkipValidation(alertitem.cweid)"></p>
																</uib-tab> <uib-tab index="3" heading="URLs"> <br>
																<span
																	ng-repeat='instance in alertitem.instances.instance'>
																	<p>
																		<span>URL touchée :</span> <a
																			src="SkipValidation(instance.uri)"
																			ng-bind-html="SkipValidation(instance.uri)"></a>
																	</p> <span> Paramètre : </span> <a
																	src="SkipValidation(instance.param)"
																	ng-bind-html="SkipValidation(instance.param)"></a>
																</p> <br>
																</span> </uib-tab> </uib-tabset>

															</div>
														</div>
													</div>
												</div>

												<div class="form-actions">
													<div ng-if="alertitem.riskcode ==='2'">
														<button type="button" class="btn btn-warning"
															ng-click="isCollapsed = !isCollapsed">{{alertitem.name}}
														</button>
														<div uib-collapse="isCollapsed">
															<div class="well well-lg">

																<uib-tabset active="active"> <uib-tab
																	index="0" heading="Description"> <br>
																<p ng-bind-html="SkipValidation(alertitem.desc)"></p>
																</uib-tab> <uib-tab index="1" heading="Solution"> <br>
																<p ng-bind-html="SkipValidation(alertitem.solution)"></p>
																</uib-tab> <uib-tab index="2" heading="Infos"> <br>
																<p>
																	<span><u> Nombres d'occurrences de la
																			faille:</u></span> <span
																		ng-bind-html="SkipValidation(alertitem.count)">
																	</span> <br>
																	<br> <u>Lien utile:</u> <br>
																</p>
																<a src="SkipValidation(alertitem.reference)"
																	ng-bind-html="SkipValidation(alertitem.reference)"></a>
																<p>
																<p>
																	<u>cwe ID:</u> <br>
																</p>
																<p ng-bind-html="SkipValidation(alertitem.cweid)"></p>
																</uib-tab> <uib-tab index="3" heading="URLs"> <br>
																<span
																	ng-repeat='instance in alertitem.instances.instance'>
																	<p>
																		<span>URL touchée :</span> <a
																			src="SkipValidation(instance.uri)"
																			ng-bind-html="SkipValidation(instance.uri)"></a>
																	</p> <span> Paramètre : </span> <a
																	src="SkipValidation(instance.param)"
																	ng-bind-html="SkipValidation(instance.param)"></a>
																</p> <br>
																</span> </uib-tab> </uib-tabset>
															</div>
														</div>
													</div>
												</div>
												<div class="form-actions">
													<div ng-if="alertitem.riskcode ==='3'">
														<button type="button" class="btn btn-danger"
															ng-click="isCollapsed = !isCollapsed">{{alertitem.name}}</button>
														<div uib-collapse="isCollapsed">
															<div class="well well-lg">

																<uib-tabset active="active"> <uib-tab
																	index="0" heading="Description"> <br>
																<p ng-bind-html="SkipValidation(alertitem.desc)"></p>
																</uib-tab> <uib-tab index="1" heading="Solution"> <br>
																<p ng-bind-html="SkipValidation(alertitem.solution)"></p>
																</uib-tab> <uib-tab index="2" heading="Infos"> <br>
																<p>
																	<span><u> Nombres d'occurrences de la
																			faille:</u></span> <span
																		ng-bind-html="SkipValidation(alertitem.count)">
																	</span> <br>
																	<br> <u>Lien utile:</u> <br>
																</p>
																<a src="SkipValidation(alertitem.reference)"
																	ng-bind-html="SkipValidation(alertitem.reference)"></a>
																<p>
																	<u>cwe ID:</u> <br>
																</p>
																<p ng-bind-html="SkipValidation(alertitem.cweid)"></p>
																</uib-tab> <uib-tab index="3" heading="URLs"> <br>
																<span
																	ng-repeat='instance in alertitem.instances.instance'>
																	<p>
																		<span>URL touchée :</span> <a
																			src="SkipValidation(instance.uri)"
																			ng-bind-html="SkipValidation(instance.uri)"></a>
																	</p> <span> Paramètre : </span> <a
																	src="SkipValidation(instance.param)"
																	ng-bind-html="SkipValidation(instance.param)"></a>
																</p> <br>
																</span> </uib-tab> </uib-tabset>
															</div>
														</div>
													</div>
												</div>
										</span></td>

									</tr>
									</tbody>
									</div>
									</div>
								</table>
							</div>
						</div>
					</div>


				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->


	</div>
	<!-- /#wrapper -->



	<!-- Bootstrap Core JavaScript -->
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script src="vendor/metisMenu/metisMenu.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="dist/js/sb-admin-2.js"></script>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
	<script type="text/javascript" src="js/xml2json.js"></script>
	<script type="text/javascript" src="js/xml2json.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"
		charset="utf-8"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.5/angular-nvd3.min.js"></script>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
	<script type="text/javascript" src="js/angular-sanitize.js"></script>
	<script type="text/javascript"
		src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.2.js"></script>

	<script type="text/javascript" src="js/FirstTry_Angular.js"></script>

</body>

</html>
