<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/bootstrap-theme.css" />
<link rel="stylesheet" href="main.css" />
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet">
</head>

<body ng-app="app">
	<div ng-controller="ReportCtrl">
		<div class="container col-lg-12 col-md-12">
			<div class="col-lg-6 col-md-6" style="padding-top: 15%">

				<table class="table table-striped" border="4">
					<thead>
						<tr>
							<th>Criticité des failles</th>
							<th>Présence en pourcentage</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="info bold">Low : {{values[0]}}</td>
							<td border="4">
								{{(values[0]/(values[1]+values[0]+values[2]))*100}}%</td>
						</tr>
						<tr>
							<td class="warning bold">Med : {{values[1]}}</td>
							<td>{{(values[1]/(values[1]+values[0]+values[2]))*100}}%</td>
						</tr>
						<tr>
							<td class="danger bold">High :{{values[2]}}</td>
							<td>{{(values[2]/(values[1]+values[0]+values[2]))*100}}%</td>
						</tr>
					</tbody>
				</table>

			</div>
			<div class="col-lg-6 col-md-6">
				<nvd3 options="options" data="data"></nvd3>
			</div>

		</div>

		<div class="container col-lg-10 col-md-10 col-lg-offset-1 page-header">
			<table class="table table-striped" border="1">
				<thead>
					<tr>
						<th>
							<h4>
								<font face="times new roman">
									<center>URL touchées</center>
								</font>
							</h4>
						</th>
						<th><h4>
								<center>Type de la faille</center>
							</h4></th>
					</tr>
				</thead>
				</tbody>
				<tr ng-repeat='site in content' ng-if="site.alerts !== '' ">

					<td>

						<div class="bold">{{site._name}}</div>
						<div uib-collapse="isCollapsed">
							<div class="well well-lg"></div>
						</div>
					</td>

					<td><span ng-repeat='alertitem in site.alerts.alertitem'>
							<div class="form-actions">
								<div ng-if="alertitem.riskcode ==='1'">
									<button type="button" class="btn btn-info"
										ng-click="isCollapsed = !isCollapsed">{{alertitem.name}}
									</button>
									<div uib-collapse="isCollapsed" horizontal>
										<div class="well well-lg">

											<u>Description du problème: <br></u>
											<p ng-bind-html="SkipValidation(alertitem.desc)"></p>
											<p>
												<br> <u>Solution possible:</u>
											<p ng-bind-html="SkipValidation(alertitem.solution)"></p>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<div ng-if="alertitem.riskcode ==='2'">
									<button type="button" class="btn btn-warning"
										ng-click="isCollapsed = !isCollapsed">{{alertitem.name}}
									</button>
									<div uib-collapse="isCollapsed">
										<div class="well well-lg">

											<u>Description du problème: <br></u>
											<p ng-bind-html="SkipValidation(alertitem.desc)"></p>
											<p>
												<br> <u>Solution possible:</u>
											<p ng-bind-html="SkipValidation(alertitem.solution)"></p>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<div ng-if="alertitem.riskcode ==='3'">
									<button type="button" class="btn btn-danger">{{alertitem.name}}</button>
									<div uib-collapse="isCollapsed">
										<div class="well well-lg">

											<u>Description du problème: <br></u>
											<p ng-bind-html="SkipValidation(alertitem.desc)"></p>
											<p>
												<br> <u>Solution possible:</u>
											<p ng-bind-html="SkipValidation(alertitem.solution)"></p>
											</p>
										</div>
									</div>
								</div>
							</div>
					</span></td>

				</tr>
				</tbody>
				</div>
				</div>
			</table>
		</div>
	</div>

</body>


<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
<script type="text/javascript" src="xml2json.js"></script>
<script type="text/javascript" src="xml2json.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"
	charset="utf-8"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.5/angular-nvd3.min.js"></script>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
<script type="text/javascript" src="angular-sanitize.js"></script>
<script type="text/javascript"
	src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.2.js"></script>

<script type="text/javascript" src="FirstTry_Angular.js"></script>


</html>